{
  "ENV": "staging",
  "API_BASE_URL": "https://backend-staging-775534547890.europe-west3.run.app",
  "FIREBASE_API_KEY": "YOUR_FIREBASE_API_KEY",
  "FIREBASE_AUTH_DOMAIN": "finalrep-app.firebaseapp.com",
  "FIREBASE_PROJECT_ID": "finalrep-app",
  "FIREBASE_STORAGE_BUCKET": "finalrep-app.firebasestorage.app",
  "FIREBASE_MESSAGING_SENDER_ID": "775534547890",
  "FIREBASE_APP_ID": "1:775534547890:web:06b0d91bfbb9fa8ce88aab"
}
